@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

/* -----------------------------------top-nab-bar------------------------------------ */
.navs a{
    text-decoration: none;
    color: #092770;
}
#top-nav {
    display: flex;
    padding: 6px 100px;
    align-items: center;
    justify-content: space-between;
    background-color: #ecf0f5;
}

.top-nav-btns {
    background-color: #ffffff;
    border-radius: 6px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.menu-social {
    font-size: 20px;
}

#right-button button {
    background-color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}

#top-nav button:hover {
    transition: all ease 500ms;
    transform: translate(2%, 2%);
    text-decoration: underline;
}

/* --------------------------mid-nav-bar----------------------------- */
#mid-nav {
    display: flex;
    padding: 10px 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

#mid-logo {
    text-align: center;
    color: #f90026;
}

#last-logo,
#fist-logo {
    width: 250px;
}

#last-logo img,
#first-logo img {
    width: 100%;
    height: 100%;
}

/* -------------------------bottom-nav---------------------- */
#bottom-nav {
    padding: 10px 120px;
    background-color: #092770;
    top: 0;
    position: sticky;
   
}
.ri-home-3-line{
    font-size: 25px;
    font-weight: 500;
}
#menus{
    display: flex;
    align-items: center;
    gap: 5vh;
}
#menus a{
    padding: 10px 20x;
    color: #ffffff;
    text-decoration: none;
}
#menus a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
}


#menus a h4::after,
.ri-home-3-line::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    border-radius: 2px;
}

#menus a:hover h4::after,
#menus a:hover .ri-home-3-line::after,
.ri-home-3-line:hover::after {
    left: 0;
    width: 100%;
}

/* --------------------------------------scroll--------------------------------- */