<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>मतदान</title>
        <link rel="stylesheet" href="./css/styles.css">
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
            rel="stylesheet" />

    </head>

    <body>
        <div id="wrapper">
            <div id="navs-container">
                <!-- ------------top-button-navbar----------- -->
                <div id="top-nav" class="navs">
                    <div id="left-button">
                        <a href="https://facebook.com"><button
                                class="top-nav-btns"><i
                                    class="ri-facebook-fill menu-social"></i></button>
                        </a>
                        <a href="https://facebook.com"><button
                                class="top-nav-btns"><i
                                    class="ri-twitter-x-fill menu-social"></i></button>
                        </a>
                    </div>
                    <div id="right-button">
                        <a href="../auth/login.html"><button
                                class="top-nav-btns">Register</button></a>
                        <a href="/auth/login"><button
                                class="top-nav-btns">Login</button></a>
                    </div>
                </div>
                <!-- -------------mid-nab-bar-logo-------------- -->
                <div id="mid-nav" class="navs">
                    <div id="logo-left">
                        <img src="./assets/logo.o.png" alt="logo-nepal">
                    </div>
                    <div id="mid-logo">
                        <h1>निर्वाचन आयोग नेपाल</h1>
                        <p style="color: black;">कान्तिपथ, काठमाण्डौ</p>
                    </div>
                    <div id="last-logo">
                        <img src="./assets/logo-ele.png"
                            alt="logo-election-nepal">
                    </div>
                </div>
                <!-- --------------bottom-menu-nav-bar-------------- -->
                <div id="bottom-nav" class="navs">
                    <div id="menus">
                        <a href="./index.html"><i
                                class="ri-home-3-line"></i></a>
                        <a href="./pages/about.html"><h4>हाम्रो बारे</h4></a>
                        <a href="./pages/election-law.html">
                            <h4>निर्वाचन कानून</h4>
                        </a>
                        <a href="./pages/how-to-vote.html">
                            <h4>मतदान गर्ने तरिका</h4>
                        </a>
                        <a href="./pages/candidates.html">
                            <h4>नयाँ उम्मेदवारको बारे</h4>
                        </a>
                        <a href="./pages/faq.html">
                            <h4>सोधिने प्रश्नहरू (FAQ)</h4>
                        </a>
                    </div>
                </div>
            </div>

            <!-- ----------------------------------marque------------------------ -->
            <div id="marque-section">
                <div class="news-container">
                    <div class="news-header">
                        <div class="title">
                            <i class="ri-news-line"></i>
                            <p>ताजा अपडेटहरू</p>
                        </div>
                        <div class="news-marquee">
                            <marquee behavior="scroll" direction="left">
                                <a href="#">- नयाँ उम्मेदवारहरूको सूची</a>
                                <a href="#">- मुख्य निर्वाचन अधिकृतको नियुक्ति
                                    सम्बन्धी आयोगको सूचना</a>
                                <a href="#">- पछिल्लो वर्षको निर्वाचन परिणाम</a>
                                <a href="#">- परिणामहरू आउँदा सूचित रहनुहोस्।
                                    अन्तिम परिणाम आउन समय लाग्न सक्छ।</a>
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>
            <!-- -------------------hero-sections-------------------- -->
            <div id="hero-sections">
                <div id="left">
                    <h1>मतदाताहरूलाई सशक्त पार्दै,<br> प्रजातन्त्रलाई सुदृढ
                        बनाउँदै,</h1>
                    <br>
                    <p>
                        निष्ठा, सत्यता अनवरत् रहोस्, प्रगतिको पथ अवलम्बन
                        होस्।<br>
                        मतदानको महिमा उज्ज्वल बनाऔं, भाविभविष्य उज्ज्वल
                        निर्माण गरौं।<br>
                        विवेकशील विचार विमर्शले, योग्य नेतृत्व चुनौं
                        सर्वसम्मतिले।<br>
                        जनगुञ्जनको जयकार गुञ्जित होस्, जनहितकारी कर्म फलित
                        होस्।<br>
                        सच्चरित्र नेता सिंहासनमा बसून्, देशभक्तिको ज्योति
                        उज्ज्वल बलून्।<br>
                        वाणीको वज्रपात आवाज उठाऔं, राष्ट्रहितलाई सर्वोपरि
                        मानौं ।<br>
                        निष्ठा, सत्यता र प्रगतिको खोजी गर्दै, आफ्नो मतले
                        देशको भविष्य घडाऔं।<br>
                        भोलिको लागि विचार गरौं बुद्धिमानी, भोट दिऔं सही
                        व्यक्तिलाई जनताको आवाज बनी।<br>
                        सच्चरित्र भएका नेतालाई चुनौं सुझबुझले, उनीहरूमार्फत
                        देशको प्रगति गर्ने सपना बुनौं।<br>
                        आवाज उठाऔं जनताको हित खोज्दै, राष्ट्रिय हितलाई
                        सर्वोपरी राख्दै।
                    </p>
                    <p style="text-align: end;"><span>-&nbsp;</span><a
                            href="https://github.com/Nishan-Pradhan06"
                            target="_blank">निशान प्रधान</a></p>
                </div>
                <div id="right">
                    <figure>
                        <img src="./assets/thumb.jpeg"
                            alt="election-img">
                    </figure>
                </div>
            </div>
            <!-- --------------------------card-candidates-------------------------- -->
            <!-- <div class="card">
                <div class="photo">
                    <img src="photo_url" alt="Candidate Photo">
                </div>
                <div class="details">
                    <h2>Name: John Doe</h2>
                    <p><strong>Party:</strong> Progressive Alliance</p>
                    <p><strong>Education:</strong></p>
                    <ul>
                        <li>Bachelor's in Political Science, XYZ University</li>
                        <li>Master's in Public Administration, ABC
                            University</li>
                    </ul>
                    <p><strong>Post:</strong> Running for Mayor</p>
                    <p><strong>Key Points:</strong></p>
                    <ul>
                        <li>Improving Public Transportation</li>
                        <li>Affordable Housing</li>
                        <li>Environmental Initiatives</li>
                        <li>Education Reform</li>
                        <li>Community Engagement</li>
                    </ul>
                    <p><strong>Contact Information:</strong></p>
                    <p>Phone: (123) 456-7890</p>
                    <p>Email: johndoe@example.com</p>
                    <p>Website: <a href="http://www.johndoeformayor.com"
                            target="_blank">www.johndoeformayor.com</a></p>
                </div>
            </div> -->

            <!-- --------------------------------------footer-------------------------------- -->
            <footer id="footer">
                <div id="footer-top">
                    <div id="footer-details">
                        <div id="logo">
                            <img src="./assets/logo-ele.png" alt="logo">
                            <p>कान्तिपथ, काठमाण्डौ</p>
                            <p>फोन: (९७७-१) ५३२८६६३, (टोल फ्री ११०२ )</p>
                            <p>ईमेल : info@election.gov.np</p>
                        </div>
                    </div>
                    <hr>
                    <div class="footer-quick-links">
                        <h3 class="footer-h4">द्रुत लिंकहरू</h3>
                        <p><a href="#">गृह मन्त्रालय</a></p>
                        <p><a href="#">प्रधानमन्त्री तथा मन्त्रिपरिषद्को
                                कार्यालय</a></p>
                    </div>
                    <div class="footer-quick-links">
                        <h3 class="footer-h4">द्रुत लिंकहरू</h3>
                        <p><a href="#">अर्थ मन्त्रालय</a></p>
                        <p><a href="#">सङ्‍घीय मामिला तथा सामान्य प्रशासन
                                मन्त्रालय</a></p>
                    </div>
                    <div class="footer-social-media">
                        <h3 class="footer-h4">सामाजिक मिडिया लिंकहरू</h3>
                        <div class="footer-icons">
                            <a href="https://facebook.com"><i
                                    class="ri-facebook-fill"></i></a>
                            <a href="https://facebook.com"><i
                                    class="ri-twitter-x-fill"></i></a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>

</html>